/*Simple Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: calc(14px + 0.72vw);

	@media screen and (min-width: 600px) {
		font-size: calc(14px + 0.096vw);
	}
}

li {
	list-style-type: none;
}

a {
	display: flex;
	text-decoration: none;
	color: inherit;
}

/* Hide Focus Styles */
:focus:not(:focus-visible) {
	outline: 0;
}

body {
	font-family: Poppins, Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: Poppins;
	src: url("../public/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
	font-family: PoppinsMedium;
	src: url("../public/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
	font-family: PoppinsSemibold;
	src: url("../public/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
	font-family: PoppinsBold;
	src: url("../public/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
	font-family: Billabong;
	src: url("../public/fonts/Poppins/Billabong.ttf");
}

//Iconfont
.las {
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: none;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	//Support for all webkit browsers
	-webkit-font-smoothing: antialiased;
	//Support for Safari and Chrome
	text-rendering: optimizeLegibility;
	//Support for Firefox
	-moz-osx-font-smoothing: grayscale;
	//Support for IE
	font-feature-settings: "liga";
}
