//Text
.ph {
	font-size: 1.24rem;
}

.pl {
	font-size: 1rem;
}

.ps {
	font-size: 0.88rem;
}

.px {
	font-size: 0.8 rem;
}

//Icons
.small-icon {
	font-size: 1rem;
	padding: 0.26rem;
}

.regular-icon {
	font-size: 1.32rem;
	padding: 0.24rem;
}

.large-icon {
	font-size: 1.64rem;
	padding: 0.2rem;
}
