$theme-primary: hsl(16, 100%, 50%);
$theme-light: hsl(16, 100%, 96%);

$theme-live: hsl(56, 100%, 50%);

$component-light: hsl(16, 16%, 96%);
$component-white: hsl(16, 16%, 98%);

$dark-text: hsl(16, 16%, 24%);
$light-text: hsl(16, 16%, 52%);
$lighter-text: hsl(16, 16%, 64%);

$primary-shadow: hsl(16, 100%, 80%);
$dark-shadow: hsl(16, 32%, 88%);
$primary-hover: hsl(16, 100%, 92%);

//Spacing
$spacing-1: 0.2rem;
$spacing-2: 0.4rem;
$spacing-3: 0.6rem;
$spacing-4: 0.8rem;
$spacing-5: 1rem;
$spacing-6: 1.2rem;
$spacing-7: 1.4rem;
$spacing-8: 1.6rem;
$spacing-9: 1.8rem;
$spacing-10: 2rem;
$spacing-11: 2.4rem;
$spacing-12: 2.8rem;
$spacing-13: 3.2rem;
$spacing-14: 3.6rem;
$spacing-15: 4rem;
$spacing-16: 4.4rem;
$spacing-17: 4.8rem;
$spacing-18: 5.2rem;
$spacing-19: 5.6rem;
$spacing-20: 6rem;
$spacing-21: 6.4rem;
$spacing-22: 6.8rem;
$spacing-23: 7.2rem;
$spacing-24: 7.6rem;
