@import "./scss/variables";
@import "./scss/utilities";

.streamersSlider {
	width: 100%;

	.sliderTitle {
		margin-left: $spacing-8;
		text-transform: capitalize;
		color: $theme-200;
	}

	.sliderContainer {
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		@include scroll-hide;
		margin-top: $spacing-8;

		.sliderItems {
			@include flex($align: flex-start);
			width: max-content;
			padding: $spacing-6 $spacing-6 $spacing-12;

			.sliderItem {
				margin-right: $spacing-12;
			}
		}
	}
}
