@import "../../../scss/variables";
@import "../../../scss/utilities";

.newsBulletin {
	width: 100%;

	.newsArticle {
		width: 100%;
		margin-top: $spacing-8;

		.imageContainer {
			width: 94%;
			margin-left: auto;
			margin-right: $spacing-4;

			.articleImage {
				width: 100%;
				height: 24rem;
				object-fit: cover;
				border-radius: $spacing-4 $spacing-4 $spacing-4 $spacing-18;
			}
		}

		.articleActual {
			width: 100%;

			.articleHeader {
				width: 96%;
				margin: $spacing-10 0 $spacing-12 auto;

				@include tab-screen {
					width: 88%;
				}

				.articleHeadline {
					color: $theme-100;
				}

				.headlineDetails {
					@include flex;
					margin-top: $spacing-4;

					.source {
						margin-right: $spacing-8;
					}

					.date {
						@include flex;
						color: $theme-500;

						span {
							margin-right: $spacing-2;
						}
					}
				}

				.detailsImages {
					@include flex;
					width: 100%;
					margin-top: $spacing-12;
					overflow-x: scroll;
					overflow-y: hidden;
					@include scroll-hide;

					.detailsImage {
						width: 12rem;
						height: 8rem;
						margin-right: $spacing-12;
						object-fit: cover;
						border-radius: $spacing-8;
					}
				}
			}

			.articlePassage {
				width: 92%;
				margin: $spacing-16 auto $spacing-24;

				@include tab-screen {
					width: 96%;
					max-width: 480px;
					margin-left: 12rem;
				}

				@include laptop-small {
					width: 96%;
					max-width: 640px;
					margin-left: 12rem;
				}

				.passageText {
					color: $gray-300;

					&::first-letter {
						@include h1;
						font-family: Billabong;
						margin-right: $spacing-1;
					}
				}
			}
		}
	}
}
