@import "../../../scss/variables";
@import "../../../scss/utilities";

.home {
	width: 100%;

	main {
		margin: $spacing-8 $spacing-2;

		@include tab-screen {
			margin: 0 $spacing-12;
		}

		.streamers {
			margin: $spacing-8 0;
		}

		.liveStreams {
			margin-top: $spacing-8;
			@include tab-screen {
				width: 90%;
				margin: $spacing-8 auto;
			}
		}

		.news {
			width: 96%;
			margin: 0 auto;

			.gridTitle {
				margin-left: $spacing-8;
				margin-bottom: $spacing-12;
				text-transform: capitalize;
				color: $dark-text;
			}

			.gridContainer {
				@include grid;
				grid-template-columns: repeat(auto-fit, 264px);
				column-gap: $spacing-12;
				row-gap: $spacing-8;
			}
		}
	}
}
