@import "../../../scss/variables";
@import "../../../scss/utilities";

.home {
	width: 100%;
	background: $theme-900;

	@include tab-screen {
		height: 100vh;
		overflow: hidden;
	}

	.main {
		width: 80%;
		height: max-content;
		margin: $spacing-12 auto;

		@include tab-screen {
			@include flex(column, center, center);
			width: 90%;
			height: 80vh;
			margin: auto;
			margin-top: $spacing-8;
		}

		.title {
			margin-bottom: $spacing-12;

			@include laptop-small {
				text-align: center;
			}

			.welcome {
				margin-bottom: $spacing-2;
				color: $gray-300;
			}

			.mainTitle {
				margin-bottom: $spacing-2;
				color: $gray-200;
			}
		}

		.categoriesList {
			width: 100%;
			height: max-content;
			margin-top: $spacing-8;
			@include grid(center, space-between);
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			column-gap: $spacing-12;
			row-gap: $spacing-20;
			padding-bottom: $spacing-24;

			@include tab-screen {
				margin-top: $spacing-4;
				padding-bottom: 0;
			}

			@include laptop-small {
				width: 80%;
				margin: 0 auto;
				margin-top: $spacing-8;
			}
		}
	}
}
