@import "../../../scss/variables";
@import "../../../scss/utilities";

.home {
	width: 100%;

	main {
		margin: $spacing-8 $spacing-2;

		@include tab-screen {
			margin: 0 $spacing-12;
		}

		.streamers {
			margin: $spacing-8 0;
		}

		.liveStreams {
			margin-top: $spacing-8;
			@include tab-screen {
				width: 90%;
				margin: $spacing-8 auto;
			}
		}

		.redditPosts {
			width: 90%;
			margin: 0 auto;
			-moz-columns: auto 218px;
			columns: auto 218px;
			-moz-column-gap: $spacing-8;
			column-gap: $spacing-8;
		}
	}
}
