@import "./scss/variables";
@import "./scss/utilities";

.navbar {
	@include flex;
	flex-wrap: wrap;
	width: 96%;
	margin: 0 auto;
	padding-top: $spacing-4;

	.brand {
		@include flex;
		color: $theme-main;

		.brandText {
			margin-left: $spacing-1;
		}
	}

	.navItems {
		width: 100%;
		@include flex;
		order: 3;
		margin-top: $spacing-8;

		@include tab-screen {
			width: max-content;
			order: initial;
			margin-left: $spacing-12;
			margin-top: 0;
		}

		.navItem {
			margin: 0 $spacing-4;
			color: $gray-400;

			.navLink {
				text-transform: capitalize;
			}

			.activeLink {
				@include plb;
				color: $theme-200;
				text-transform: capitalize;

				&::before {
					content: "";
					position: relative;
					left: 50%;
					top: 26px;
					width: 5px;
					height: 5.2px;
					background: $theme-main;
					border-radius: 50%;
				}
			}
		}
	}

	.userActions {
		margin-left: auto;
		margin-right: $spacing-6;

		.loggedInUser {
			cursor: pointer;

			.activeUser {
				width: $spacing-10;
				border-radius: $spacing-4;
				box-shadow: 2px 8px 18px $theme-800;
				transition: all 0.25s ease;

				&:hover {
					box-shadow: 2px 12px 24px $theme-800;
				}
			}
		}
	}
}
