@import "./scss/variables";
@import "./scss/utilities";

.navbar {
	@include flex;
	flex-wrap: wrap;
	width: 96%;
	margin: 0 auto;
	padding-top: $spacing-4;

	.brand {
		@include flex;
		color: $theme-primary;

		.brandText {
			margin-left: $spacing-1;
		}
	}

	.navItems {
		@include flex;
		order: 3;
		margin-top: $spacing-8;

		@include tab-screen {
			order: initial;
			margin-left: $spacing-12;
			margin-top: 0;
		}

		.navItem {
			margin: 0 $spacing-4;
			color: $light-text;

			.navLink {
				text-transform: capitalize;
			}

			.activeLink {
				@include plb;
				color: $dark-text;
				text-transform: capitalize;

				&::before {
					content: "";
					position: relative;
					left: 50%;
					top: 26px;
					width: 5px;
					height: 5.2px;
					background: $theme-primary;
					border-radius: $spacing-4;
				}
			}
		}
	}

	.userActions {
		@include flex;
		margin-left: auto;
		margin-right: $spacing-6;

		.notifications {
			margin-right: $spacing-6;
			color: $dark-text;
		}

		.loggedInUser {
			.activeUser {
				width: $spacing-10;
				border-radius: $spacing-4;
				box-shadow: 2px 8px 18px $primary-hover;
			}
		}
	}
}
