@import "../../../scss/variables";
@import "../../../scss/utilities";

.account {
	width: 100%;

	.mainArea {
		width: 96%;
		max-width: 540px;
		margin: $spacing-14 auto;

		.title {
			text-align: center;
		}

		.accountSummary {
			width: max-content;
			margin: $spacing-12 auto;

			.imageContainer {
				@include flex;

				.accountImage {
					width: 5.6rem;
					height: 5.6rem;
					margin: 0 $spacing-8;
					padding: $spacing-1;
					border-radius: 50%;
					border: 2px solid $theme-main;
				}
			}

			.accountDetails {
				width: max-content;
				margin: 0 auto;
				margin-top: $spacing-8;
				text-align: center;

				.accountName {
					color: $theme-100;
				}

				.accountLocation {
					color: $gray-400;
				}

				.editButton {
					width: max-content;
					margin: 0 auto;
					margin-top: $spacing-8;
				}
			}
		}
	}
}
