@import "../../../scss/variables";
@import "../../../scss/utilities";

.discover {
	width: 97%;
	margin: 0 auto;

	.header {
		width: 100%;
		@include flex;
		margin: $spacing-12 0;

		@include tab-screen {
			width: 28%;
			margin-left: $spacing-24;
		}

		.headerForm {
			width: 100%;
		}

		.filterButton {
			margin: 0 $spacing-6;

			@include tab-screen {
				margin-right: 0;
			}
		}
	}

	.filters {
		width: 90%;
		margin: 0 auto;

		@include tab-screen {
			width: 40%;
			margin: 0;
			margin-left: $spacing-24;
		}

		.filtersHeader {
			color: $light-text;
		}

		.filterItems {
			@include flex;
			flex-wrap: wrap;
			margin-top: $spacing-2;

			.filterItem {
				margin-right: $spacing-4;
				margin-top: $spacing-6;
			}
		}
	}

	.games {
		width: 96%;
		margin: $spacing-14 auto;

		@include tab-screen {
			width: 88%;
			margin: $spacing-18 auto 0;
		}

		.gamesList {
			width: 100%;
			@include grid;
			grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
			column-gap: $spacing-8;
			row-gap: $spacing-16;

			@include tab-screen {
				column-gap: $spacing-12;
				row-gap: $spacing-18;
			}

			.gameItem {
			}
		}
	}
}
