@import "./scss/variables";
@import "./scss/utilities";

.newsGrid {
	width: 96%;
	margin: 0 auto;

	.gridTitle {
		@include flex;
		width: 100%;
		margin-left: $spacing-4;
		margin-bottom: $spacing-12;
		text-transform: capitalize;
		color: $theme-100;

		.titleEmphasis {
			margin-left: $spacing-2;
			color: $theme-400;
		}
	}

	.gridContainer {
		@include grid;
		grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
		column-gap: $spacing-12;
		row-gap: $spacing-8;
	}
}
