@import "../../../scss/variables";
@import "../../../scss/utilities";

.twitch {
	width: 100%;

	main {
		width: 100%;

		.gamesSlider {
			width: 96%;
			margin: $spacing-12 auto;
		}

		.videosSlider {
			width: 96%;
			margin: $spacing-12 auto;
		}
	}
}
